img {
    max-width: 100vw;
}

.site-header {
    width: 100%;
    background-color: #ffe9ad;
    font-size: 1.2em;
    position: relative;
}

.site-header:after {
    content: "";
    display: table;
    clear: both;
}

.site-header a, .site-header a:visited{
    text-decoration: none;
    color: grey;
}

.site-header ul{
    padding-left: 0px;
    width: 95%;
}

.heading-group-h1{
    padding-left: 10px;
    padding-top: 15px;
}

.site-header li{
    list-style-type: none;
    padding: 10px 5px;
    border-bottom: 1px solid lightgray; 
}

.icon-menu{
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 2.5em;
}

.byline{
    color: darkgray;
}

.byline address {
    display: inline;
}

.byline a, .byline a:visited{
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

