.byline address {
    display: inline;
}

.pull-right{
    float: right;
}

.pull-left{
    float: left;
}

img{
    max-width: 100%;
}

.icon-menu {
position: absolute;
right: 20px;
top: 20px;
}

ul li {
    display: none;
}