.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

@media screen and (min-width: 640px) {
  
}

.icon-menu {
    position: fixed;
    top: 5px;
    right: 5px;
    font-size: 300%
}

.icon-menu:hover .dropDown {
    position: fixed;
    display: inline;
}

/* .icon-menu:hover heading-group-h1::after {
    content: '.icon-menu';
} */

.byline {
    color: grey;
}

.dropDown {
    display: none;

}